body {
  font-family: arial;
}


.start-stop-button,
.reset-button {
  width: 100%;
  padding: 20px 20px;
  background-color: rgb(218, 218, 218);
  color: rgb(88, 88, 88);
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.1s;
}


.start-stop-button:hover,
.reset-button:hover {
  background-color: rgb(211, 211, 211);
}

.start-stop-button:active,
.reset-button:active {
  background-color: rgb(202, 202, 202);
}

.time-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 999px;
  border: solid 2px rgb(218, 218, 218);
  font-size: 40px;
  color: rgb(88, 88, 88);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 20px;
  column-gap: 10px;
}

.stopwatch-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}