body {
  background-color: rgb(25, 25, 25);
  font-family: arial;
  color: white;
}

img {
  height: 50px;
}

button {
  cursor: pointer;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.result {
  font-size: 25px;
  margin-top: 50px;
  font-weight: bold;
}

.rock-button,
.paper-button,
.scissors-button {
  background-color: transparent; /* NEW */
  border: 3px solid white; /* you can also use dotted or dashed */
  border-radius: 999px;
  padding: 30px;
  margin-right: 10px;
  width: 120px;
  height: 120px;
}

.reset-score-button {
  font-size: 15px;
  border: none;
  padding: 8px 15px;
}

.score {
  margin-top: 50px;
}
